# Node dependencies (VERY IMPORTANT)
senticare-frontend/node_modules/
senticare-frontend/build/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment files
.env

# # Broken folder (important)
# SentiCare/artifacts/
# artifacts/

*.pdf
*.png
*.jpg
*.doc
*.docx
Design Document/
Presentation/
SentiCare Diagrams/
proposal/
SentiCare SRS/
