# Node dependencies (VERY IMPORTANT)
senticare-frontend/node_modules/
senticare-frontend/build/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment files
.env


cat > .gitignore << 'EOF'
Design Document/
Presentation/
SentiCare Diagrams/
SentiCare SRS/
SentiCare SRS.pdf
proposal/
__pycache__/
*.pyc
.venv/
*.log
EOF